
body{
    background-color: black;
}
  
.titulo{
  text-align: center;
  font-family: "Joystix";
  color: aliceblue;
  background-color: blue;
  border-radius: 10px;

}

.conteiner{
 background-color: rgb(0, 0, 255);
 text-align: center;
 border-radius: 10px;
 
 
font-size: xx-large;
width: auto;
height: auto;}



p{
color: rgb(240, 248, 255);
font-size: 20px ;
}
.ilustracao{
  border-radius: 10px;
  align-items: flex-start;
 

}
.item-lista{
  color: aliceblue;
  font-size: xx-large;
}
ul{
  list-style-type: none;
}