
*{
  
  font-family: "Joystix";


}
body{
  background-color: rgb(27, 26, 37);
}
  
.titulo{
  text-align: center;
  color: aliceblue;
  background-color: rgb(65, 65, 133);
  border-radius: 10px;
  border-style: ridge;
  border-color: black ;
  

}

.conteiner{
 background-color: rgb(0, 0, 255);
 text-align: center;
 border-radius: 10px;
 
 margin-top: 2rem;
 
 
 
font-size: x-large;
width: auto;
height: auto;}



p{
color: rgb(240, 248, 255);
font-size: 20px ;

}
.ilustracao{
  border-radius: 10px;
  align-items: flex-start;
 

}
.item-lista{
  color: aliceblue;
  font-size: xx-large;
}
ul{
  list-style-type: none;
}
div{
  margin-left: 2em;
}
img{
  border-width: 10px;
  border-style:outset;
  border-color: rgb(67, 48, 134);
  align-items: center;
}